* {
    box-sizing: border-box;   
}




body {
    height: 100vh;
    background-image: url(https://images.ctfassets.net/gxwgulxyxxy1/4zJnlt1q6ZeEg1I3DciAsf/d4b2e586369e4d90931c8c70a1416ba3/Hero-Lake_surrounded_by_snow_and_evergreen_trees_with_mountains_in_the_distance.jpg?fm=jpg&fl=progressive&w=1268&h=581&fit=fill&q=100);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;    
    
}

#title {
    font-family: 'Cinzel', serif;
    font-size: 3em;
    text-align: center;
    padding-top: 1.5em;
    color: white;
    mix-blend-mode: exclusion;
    filter: contrast(.5) grayscale(1);
}

#description {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 900;
    color: white;
    mix-blend-mode: exclusion;
    filter: contrast(.5) grayscale(1);
}

#survey-form {
    display: flex;
    margin: 0 auto 2em auto;
    flex-direction: column;
    width: 50vw;
    justify-content: space-between;
    background-color: rgb(255, 200, 100, .6);
    padding: 1em 2em 1em 2em;
}

#personal-info {
    line-height: 1.5em;
}

#name, #email, #number, #dropdown {
    width: 100%;
}

#radio-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0;
    
}

#recommend-text {
    padding-bottom: 0;
    margin: 1em 0;
}

#checkboxes {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto 0 2rem;
    justify-content: space-around;
    margin-bottom: 1.2em;
}

#comments {
    width: 100%;
    height: 10em;
    font-family: 'Merienda', cursive;
    border-radius: 10px;
}

#submit {
    width: 50%;
    height: 2em;
    background-color: #4b92e7;
    color: black;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    border-radius: 10px;
    margin: 1.8em auto 1em auto;
}
